body {
    text-align: center;
    color: lightblue;
    background-color: rgba(0, 200, 255, 0.2);
    background-image: url("../../img/wall-tone.jpg");
    font-family: 'Courier New', Courier, sans-serif;
}

header, article, footer {
    background-color: rgba(5, 39, 48, 0.7);
}

a {
    border: 1px solid rgba(134, 185, 224, 0.5);
}

.nav {
    border: 1px solid black;
    box-shadow: 5px 0px 15px black;
    margin-bottom: 2%;
}

.nav-item {
    display: inline-block;
    vertical-align: top;
    min-width: 10%;
    transition: background-color 0.5s ease;
    margin-bottom: 1%;
    margin-top: 0.5%;
    box-shadow: 1px 1px 8px black;
    background-color: rgba(255,255,255,0.02);
}

.nav-item:hover {
    cursor: pointer;
    font-weight: bolder;
    background-color: rgba(0, 200, 255, 0.2);
}

.nav-link {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 7% 0 7% 0;
    text-decoration: none;
    transition: color 0.5s ease;
    color: lightblue;
}

.content {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 5px 0px 15px black;
    min-height: 50%;
}

.content-item {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.content-item img {
    /* margin-top: 2%;
    margin-bottom: 2%; */
    opacity: 85%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 1px 1px 15px black;
}

.content-item h1, p {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 15px black;
}

.content-item h1 {
    margin-bottom: 2%;
}

.inblock-30 {
    max-width: 30%;
}

.inblock-20 {
    max-width: 20%;
}

.gallery {
    margin-top: 1%;
    margin-bottom: 1%;
}

.gallery-item {
    display: inline-block;
    padding: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: -2%;
    margin-right: -2%;
    box-shadow: 0 10px 30px black;
    transition: padding 0.5s ease;
}

.gallery-item:hover {
    padding: 0.1%;
}

.gallery-item img {
    height: 300px;
    opacity: 50%;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    transition: height 0.5s ease-out, opacity 0.5s ease, z-index 0.5s ease-out;
}

.gallery-item img:hover {
    opacity: 100%;
    z-index: 2;
    height: 400px;
}

.video-item {
    margin-top: calc(1%/3);
}

.map {
    margin-top: 1%;
}

.map iframe, .video-item iframe {
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 15px black;
}

.video-item iframe {
    width: 640px;
    height: 360px;
}

.map iframe {
    min-width: 250px;
    width: 30%;
    height: 300px;
}

.footer {
    box-shadow: 5px 0px 15px black;
    border: 1px solid black;
    margin-top: 1%;
}

.footer-block {
    margin-top: 1%;
    margin-bottom: 0.5%;
    display: inline-block;
    vertical-align: middle;
    min-width: 20%;
}

.footer-item {
    background-color: rgba(255,255,255,0.02);
    margin: 1% 1%;
    box-shadow: 1px 1px 8px black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.footer-item:hover {
    color: darkslategray;
    background-color: rgba(240, 248, 255, 0.7);
    cursor: pointer;
    font-weight: bolder;
}

.footer-link {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 2% 0 2% 0;
    text-decoration: none;
    color: inherit;
}
